@using DiagnosticoWeb.Code
@using System.Security.Claims
<div ng-app="SedeshuApp" ng-controller="createController" ng-init="init(@JsonSedeshu.SerializeObject(Model))">
    <partial name="_Loading_Partial" />
    <slot ng-cloak>
        <div class="card">
            <div class="card-header bg-cards text-white d-flex justify-content-between">
                @if (string.IsNullOrEmpty(Model.Id))
                {
                    <h5>Crear género</h5>
                }
                else
                {
                    <h5>Editar género</h5>
                }
                <a class="btn btn-sm btn-header" asp-controller="Sexo" asp-action="Index">
                    <i class="fa fa-backward"></i> Regresar
                </a>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <div class="col-4">
                        <label class="required">Id <small>{{ sexo.Id.length }} / 10</small></label>
                        <input class="form-control" ng-model="sexo.Id" maxlength="10" ng-disabled="sexo.IdAnterior != ''"/>
                        <span class="text-danger small">{{ errors["Id"] }}</span>
                    </div>
                    <div class="col-4">
                        <label class="required">Nombre <small>{{ sexo.Nombre.length }} / 255</small></label>
                        <input class="form-control" ng-model="sexo.Nombre" maxlength="255"/>
                        <span class="text-danger small">{{ errors["Nombre"] }}</span>
                    </div>
                </div>
            </div>
            @if (((ClaimsIdentity)User.Identity).HasClaim("Permiso", "catalogos.editar") || (string.IsNullOrEmpty(Model.Id) &&
                ((ClaimsIdentity)User.Identity).HasClaim("Permiso", "catalogos.crear")))
            {
                <div class="card-footer">
                    <button class="btn btn-sm btn-success" ng-click="Guardar()" ng-if="!guardando">
                        <i class="fa fa-save"></i> Guardar
                    </button>
                    <button class="btn btn-sm btn-success" disabled ng-if="guardando">
                        <i class="fa fa-spinner fa-spin"></i> Guardar
                    </button>
                </div>
            }
        </div>
    </slot>
</div>

@section Scripts {
    <script>
        (function () {
            var app = angular.module('SedeshuApp', ['ui.bootstrap']);
            var baseUrl = document.baseURI;

            app.controller('createController',
                function ($scope, $http, $uibModal) {
                    $scope.sexo = {
                        Id: "",
                        IdAnterior: "",
                        Nombre: "",
                    };
                    $scope.guardando = false;

                    $scope.init = function (sexo) {
                        $scope.sexo.Id = sexo.Id;
                        $scope.sexo.IdAnterior = sexo.IdAnterior;
                        $scope.sexo.Nombre = sexo.Nombre;
                        $scope.refreshSelect();
                    }

                    $scope.refreshSelect = _.debounce(function () {
                        $('.selectpicker2').selectpicker('refresh');
                    }, 200);

                    $scope.Guardar = function () {
                        $scope.guardando = true;
                        $http.post(baseUrl + 'Sexo/Guardar', $scope.sexo).then(function (response) {
                            if (response.data == "ok") {
                                window.location.href = baseUrl + 'Sexo';
                            } else {
                                $scope.cargarErrores(response.data);
                            }
                            $scope.guardando = false;
                        });
                    }

                    $scope.cargarErrores = function (errors) {
                        $scope.errors = [];
                        for (var i = 0; i < errors.length; i++) {
                            $scope.errors[errors[i].Key] = errors[i].Error;
                        }
                    };
                })
        })();
    </script>
}