@using DiagnosticoWeb.Code
@{
    ViewData["Title"] = "Edición de datos del integrante";
}
<div ng-app="SedeshuApp" ng-controller="indexController" ng-init="init(@JsonSedeshu.SerializeObject(Model))">
    <partial name="_Loading_Partial" />
    <div ng-cloak>
        <div class="card border-cards">
            <div class="card-header bg-cards text-white d-flex justify-content-between">
                <h5>Edición de datos del integrante {{NumDato}}</h5>
                <a class="btn btn-sm btn-header" href="@Url.Action(controller: "Beneficiarios", action: "Ver")/{{FamiliaId}}">
                    <i class="fa fa-backward"></i> Regresar
                </a>                
            </div>
            <div class="card-body">
                <div ng-if="NumDatos > 0" class="d-flex justify-content-between">
                    <h5>Histórico de datos</h5>
                    <div>
                        <button class="btn btn-sm btn-default" ng-if="NumDato > 1" ng-click="verDatoHistorico('anterior')">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-sm btn-default" ng-if="NumDato <= NumDatos" ng-click="verDatoHistorico('siguiente')">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-4 campo">
                        <label class="required">CURP <span class="small">({{Beneficiario.Curp.length}}/18)</span></label>
                        <input type="text" class="form-control" ng-model="Beneficiario.Curp" ng-blur="completarDatos()">
                        <span class="text-danger small">{{ errors["Curp"] }}</span>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Primer apellido <span class="small">({{Beneficiario.ApellidoPaterno.length}}/100)</span></label>
                        <input type="text" class="form-control" ng-model="Beneficiario.ApellidoPaterno">
                    </div>
                    <div class="col-4 campo">
                        <label>Segundo apellido <span class="small">({{Beneficiario.ApellidoMaterno.length}}/100)</span></label>
                        <input type="text" class="form-control" ng-model="Beneficiario.ApellidoMaterno">
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Nombres <span class="small">({{Beneficiario.Nombre.length}}/100)</span></label>
                        <input type="text" class="form-control" ng-model="Beneficiario.Nombre">
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Fecha de nacimiento</label>
                        <input type="date" class="form-control" ng-model="Beneficiario.FechaNacimiento">
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Estado</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.EstadoId">
                            <option ng-repeat="estado in Estados" ng-value="estado.Id">{{estado.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">RFC <span class="small">({{Beneficiario.Rfc.length}}/13)</span></label>
                        <input type="text" class="form-control" ng-model="Beneficiario.Rfc">
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Sexo</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.SexoId">
                            <option ng-repeat="sexo in Sexos" ng-value="sexo.Id">{{sexo.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Nivel de estudios</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.EstudioId">
                            <option ng-repeat="estudio in Estudios" ng-value="estudio.Id">{{estudio.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Grado de estudios</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.GradoEstudioId">
                            <option ng-repeat="gradoEstudio in GradosEstudio" ng-value="gradoEstudio.Id">{{gradoEstudio.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Estado civil</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.EstadoCivilId">
                            <option ng-repeat="estadoCivil in EstadosCivles" ng-value="estadoCivil.Id">{{estadoCivil.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Discapacidad</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.DiscapacidadId" ng-change="ObtenerGradosDiscapacidad()">
                            <option ng-repeat="discapacidad in Discapacidades" ng-value="discapacidad.Id">{{discapacidad.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Grado de la discapacidad</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.DiscapacidadGradoId">
                            <option ng-repeat="discapacidadGrado in Grados" ng-value="discapacidadGrado.Id">{{discapacidadGrado.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-4 campo">
                        <label class="required">Causa de la discapacidad</label>
                        <select class="selectpicker2 form-control" data-live-search="true" ng-model="Beneficiario.CausaDiscapacidadId">
                            <option ng-repeat="causaDiscapacidad in CausaDiscapacidad" ng-value="causaDiscapacidad.Id">{{causaDiscapacidad.Nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-success" ng-click="guardar()" ng-disabled="guardando" ng-if="!guardando">
                    <i class="fa fa-save"></i> Guardar
                </button>
                <button class="btn btn-sm btn-success" ng-if="guardando">
                    <i class="fa fa-spinner fa-spin" ng-if="guardando"></i> Guardar
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        (function () {
            var app = angular.module('SedeshuApp', ['ui.bootstrap']);
            var baseUrl = document.baseURI;

            app.controller('indexController',
                function ($scope, $http) {
                    $scope.errors = {};
                    $scope.Beneficiario = {};
                    $scope.Estados = [];
                    $scope.Estudios = [];
                    $scope.GradosEstudio = [];
                    $scope.EstadoCivles = [];
                    $scope.EstadosCivles = [];
                    $scope.Discapacidades = [];
                    $scope.Grados = [];
                    $scope.CausaDiscapacidad = [];
                    $scope.Sexos = [];
                    $scope.guardando = false;
                    $scope.NumDato = 1;
                    $scope.NumDatos = 0;
                    $scope.FamiliaId = '';
                    $scope.BeneficiarioId = '';
                    
                    $scope.init = function(model) {
                        let fechaNacimiento = model.Beneficiario.FechaNacimiento;
                        $scope.Beneficiario = model.Beneficiario;
                        $scope.Beneficiario.FechaNacimiento = new Date(fechaNacimiento.substring(0,4), 
                            parseInt(fechaNacimiento.substring(5,7))-1, fechaNacimiento.substring(8,10))
                        $scope.NumDatos = model.Beneficiario.NumDatos;
                        $scope.BeneficiarioId = model.Beneficiario.Id;
                        $scope.FamiliaId = model.Beneficiario.NumIntegrante == 1 ? model.Beneficiario.Id : model.Beneficiario.PadreId;
                        $scope.Estados = model.Estados;
                        $scope.Estudios = model.Estudios;
                        $scope.GradosEstudio = model.GradosEstudio;
                        $scope.EstadosCivles = model.EstadosCiviles;
                        $scope.Discapacidades = model.Discapacidades;
                        $scope.CausaDiscapacidad = model.CausaDiscapacidad;
                        $scope.Sexos = model.Sexos;

                        $scope.ObtenerGradosDiscapacidad();
                        $scope.refreshSelect();                     
                    };
                    
                    $scope.completarDatos = function(){
                        if ($scope.Beneficiario.Curp!=''){
                            let abreviatura = $scope.Beneficiario.Curp.substring(11,13);                            
                            let fechaNacimiento = $scope.Beneficiario.Curp.substring(4,10);
                            let sexo = $scope.Beneficiario.Curp.substring(10,11);                           
                            let estado = _.find($scope.Estados, function(estado) {                                
                              return estado.Abreviacion == abreviatura;
                            });
                            if (estado != null) {
                                $scope.Beneficiario.EstadoId = estado.Id;
                                $scope.Beneficiario.FechaNacimiento = new Date(fechaNacimiento.substring(0,2), 
                                                            parseInt(fechaNacimiento.substring(3,4))-1, fechaNacimiento.substring(5,6));
                                $scope.Beneficiario.SexoId = _.find($scope.Sexos, function(s) {
                                  return s.Nombre.startsWith(sexo); 
                                }).Id;
                            }
                            $scope.refreshSelect();
                        }
                    };

                    $scope.ObtenerGradosDiscapacidad = function () {
                        $http.post(baseUrl + 'Beneficiarios/ObtenerGradoDiscapacidad/', $scope.Beneficiario.DiscapacidadId)
                            .then(function (response) {
                                $scope.Grados = response.data;

                                $scope.refreshSelect();
                            });
                    };
                    
                    $scope.guardar = function(){
                        $scope.guardando = true;
                        $http.post(baseUrl +'Beneficiarios/Guardar/', $scope.Beneficiario).then(function(response) {
                            if (response.data == "ok") {
                                window.location.href = baseUrl +'Beneficiarios/Ver/'+$scope.FamiliaId;
                            } else {
                                $scope.cargarErrores(response.data);
                            }
                            $scope.guardando = false;
                        });
                    };
                    
                    $scope.cargarErrores = function (errors) {
                        $scope.errors = {};
                        for (var i = 0; i < errors.length; i++) {
                            $scope.errors[errors[i].Key] = errors[i].Error;
                        }                        
                    };                    
                    
                    $scope.refreshSelect = _.debounce(function () {
                        $('.selectpicker2').selectpicker('refresh');
                    }, 200);

                    $scope.verDatoHistorico = function (direccion) {
                        if (direccion == 'siguiente') {
                            $scope.NumDato++;
                        } else {
                            $scope.NumDato--;
                        }
                       
                        $http.post(baseUrl + 'Beneficiarios/'+($scope.NumDato == 1 ? 'VerDatos' : 'VerDatosHistoricos'), {
                            Numero: $scope.NumDato,
                            BeneficiarioId: $scope.BeneficiarioId
                        }).then(function (response) {
                            let fechaNacimiento = response.data.FechaNacimiento;
                            $scope.Beneficiario = response.data;                            
                            $scope.Beneficiario.FechaNacimiento = new Date(fechaNacimiento.substring(0,4), 
                                parseInt(fechaNacimiento.substring(5,7))-1, fechaNacimiento.substring(8,10));
                            $('.selectpicker2').selectpicker('refresh');
                        });
                    };                    
            });
        })();
    </script>
}

@section Styles{
    <style>
        .campo{
            margin:5px 0;            
        }
    </style>
}