@{
    ViewData["Title"] = "Usuarios";
}
@using System.Security.Claims
<div ng-app="SedeshuApp" ng-controller="indexController" ng-init="init(@Model)">
    <partial name="_Loading_Partial" />
    <div ng-cloak>
        <div class="card border-cards">
            <div class="card-header bg-cards text-white d-flex justify-content-between">
                <h5>Usuarios</h5>
                @if (((ClaimsIdentity)User.Identity).HasClaim("Permiso", "usuarios.crear"))
                {
                    <a class="btn btn-sm btn-header" asp-controller="Organizacion" asp-action="CreateEditUsuario">
                        <i class="fa fa-plus"></i> Crear
                    </a>
                }
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div class="col-3">
                        <label>Nombre</label>
                        <input class="form-control" ng-model="Filtros.Nombre" />
                    </div>
                    <div class="col-3">
                        <label>Usuario</label>
                        <input class="form-control" ng-model="Filtros.UserName" />
                    </div>
                    <div class="col-3">
                        <label>Correo electrónico</label>
                        <input class="form-control" ng-model="Filtros.Email" />
                    </div>
                    <div class="col-3">
                        <label>Dependencia</label>
                        <select class="selectpicker2 form-control" ng-model="Filtros.DependenciaId">
                            <option value="">[Todas]</option>
                            <option ng-repeat="dependencia in Dependencias" ng-value="dependencia.Id">{{dependencia.Nombre}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="form-row">
                            <label style="width: 100%">&nbsp;</label>
                            <button class="btn btn-info" ng-click="getUsuarios()" ng-if="!cargando">
                                <i class="fa fa-search"></i> Buscar
                            </button>
                            <button class="btn btn-info" ng-if="cargando">
                                <i class="fa fa-spinner fa-spin"></i> Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-cards">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Dependencia</th>
                            <th>Correo electrónico</th>
                            <th class="no-stretch"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="usuario in Usuarios">
                            <td>
                                <span ng-if="usuario.IsDisabled" class="badge badge-danger">{{usuario.Name}}</span>
                                <span ng-if="!usuario.IsDisabled">{{usuario.Name}}</span>
                            </td>
                            <td>{{ usuario.UserName }}</td>
                            <td>{{ usuario.Dependencia == null ? '[Administrador]' : usuario.Dependencia.Nombre}}</td>
                            <td>{{ usuario.Email }}</td>
                            <td>
                                @if (((ClaimsIdentity) User.Identity).HasClaim("Permiso", "usuarios.editar"))
                                {
                                    <a class="btn btn-sm btn-info lineal" href="@Url.Action(controller: "Organizacion", action: "CreateEditUsuario")/{{ usuario.Id }}">
                                        <i class="fa fa-edit"></i> Editar
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-sm btn-info lineal" href="@Url.Action(controller: "Organizacion", action: "CreateEditUsuario")/{{ usuario.Id }}">
                                        <i class="fa fa-eye"></i> Ver
                                    </a>
                                }
                            </td>
                        </tr>
                        <tr ng-if="Usuarios.length == 0">
                            <td colspan="5">No hay datos para mostrar.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="float-right">
                    <ul uib-pagination total-items="totalcount" ng-change="pagechanged()"
                        items-per-page="Filtros.PageSize" direction-links="false" ng-model="Filtros.PageIndex" role="menu"
                        max-size="maxsize" class="pagination-sm" boundary-links="true" rotate="true"
                        num-pages="numPages" style="margin-bottom: 0px !important"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        (function () {
            var app = angular.module('SedeshuApp', ['ui.bootstrap']);
            var baseUrl = document.baseURI;

            app.controller('indexController',
                function ($scope, $http) {
                    $scope.Dependencias = [];
                    $scope.Usuarios = [];
                    $scope.Filtros = {
                        Nombre: '',
                        UserName: '',
                        Email: '',
                        DependenciaId: '',
                        PageIndex: 1,
                        PageSize: 10
                    };                    
                    //Paginación
                    $scope.maxsize = 5;
                    $scope.totalcount = 0;                   
                    $scope.numPages = 0;
                    $scope.cargando = false;
                    
                    $scope.init = function (model){
                        $scope.Dependencias = model;
                        $scope.getUsuarios();
                        $scope.refreshSelect();
                    };
                    
                    $scope.getUsuarios = function () {
                        $scope.cargando = true;
                        $http.post(baseUrl + 'Organizacion/GetUsuarios/',$scope.Filtros).then(function (response) {
                            $scope.cargando = false;
                            $scope.Usuarios = response.data.Usuarios;
                            $scope.totalcount = response.data.Total;
                        });
                    };

                    $scope.pagechanged = function () {
                        $scope.getUsuarios();
                    };
                    
                    $scope.refreshSelect = _.debounce(function () {
                        $('.selectpicker2').selectpicker('refresh');
                    }, 200);
                }
            );
        })();
    </script>
}
