@using DiagnosticoWeb.Code
@{
    ViewData["Title"] = "Diagnósticos";
}
@using System.Security.Claims;
<div ng-app="SedeshuApp" ng-controller="indexController" ng-init="init(@JsonSedeshu.SerializeObject(Model))">
    <partial name="_Loading_Partial" />
    <div ng-cloak>
        <div class="card border-cards">
            <div class="card-header bg-cards text-white">
                <div class="d-flex justify-content-between">
                    <h5>Listado de diagnósticos aplicados</h5>
                    @if (((ClaimsIdentity)User.Identity).HasClaim("Permiso", "beneficiarios.exportar"))
                    {
                        <button class="btn btn-primary" ng-click="exportar('Diccionario')" ng-if="!loading" style="display:none;">
                            <i class="fa fa-file-excel"></i> Exportar diccionario
                        </button>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap">
                    <div class="col-4" style="display: none">
                        <label>Campos</label>
                        <select multiple class="selectpicker2 form-control" ng-change="seleccionarFiltro()"
                                ng-model="selected" data-title="Campos" data-live-search="true">
                            <optgroup ng-repeat="(index, filtro) in filtros" label="{{index}}">
                                <option ng-repeat="valor in filtro" ng-value="valor.Key">{{corregirFiltro(valor.Key, false)}}</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-5">
                        <label>Período</label>
                        <br>
                        <div class="d-flex">
                            <input type="date" ng-model="Inicio" placeholder="yyyy-MM-dd" class="form-control filtro" />
                            <span class="al filtro">Al</span>
                            <input type="date" ng-model="Fin" placeholder="yyyy-MM-dd" class="form-control filtro" />
                        </div>
                    </div>
                    <!-- Filtro de Estatus agregado -->
                    <div class="col-3">
                        <label>Estatus</label>
                        <select class="form-control" ng-model="Estatus" ng-change="cargarBeneficiarios()">
                            <option value="">Todo</option>
                            <option value="Completo">Completas</option>
                            <option value="Incompleto">Incompletas</option>
                        </select>
                    </div>
                    <!-- Fin del filtro de Estatus -->
                    <div class="col-4" ng-repeat="(icatalogo, catalogo) in catalogos" ng-if="catalogo.Mostrar">
                        <label>{{corregirFiltro(catalogo.Nombre, true)}}</label>
                        <select class="selectpicker2 form-control" ng-if="catalogo.Multiple" ng-model="valores[icatalogo]" ng-change="seleccionarValor(icatalogo)"
                                data-live-search="true" data-title="Seleccione">
                            <option value="">[Todos]</option>
                            <option ng-repeat="valor in catalogo.Items" ng-value="valor.Id">{{valor.Nombre}}</option>
                        </select>
                        <input class="form-control" ng-if="!catalogo.Multiple" ng-model="valores[icatalogo]">
                    </div>
                    <div class="col-4">
                        <br>
                        <button class="mt-2 btn btn-info" ng-click="cargarBeneficiarios()" ng-if="!loading">
                            <i class="fa fa-search"></i> Buscar
                        </button>
                        <button class="mt-2 btn btn-info" ng-if="loading">
                            <i class="fa fa-spinner fa-spin"></i> Buscar
                        </button>
                        @if (((ClaimsIdentity)User.Identity).HasClaim("Permiso", "beneficiarios.exportar"))
                        {
                            <button class="mt-2 btn btn-info" ng-click="exportar('Sabana')" ng-if="!loading">
                                <i class="fa fa-file-excel"></i> Exportar
                            </button>
                        }
                        <form id="form" asp-controller="Diagnosticos" asp-action="exportarExcel" method="post" target="_blank">
                            <input id="PageIndex" name="PageIndex" type="hidden">
                            <input id="PageSize" name="PageSize" type="hidden">
                            <input id="Valores" name="Valores" type="hidden">
                            <input id="Inicio" name="Inicio" type="hidden">
                            <input id="Fin" name="Fin" type="hidden">
                            <input id="Hijos" name="Hijos" type="hidden">
                            <input id="Tipo" name="Tipo" type="hidden">
                            <input id="Estatus" name="Estatus" type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-cards">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Municipio</th>
                            <th>
                                <span># Diagnósticos</span>
                                <span class="small">{{ total }}</span>
                            </th>
                            <th>Último diagnostico</th>
                        </tr>
                        <tr ng-repeat="municipio in beneficiarios">
                            <td>{{municipio.Nombre}}</td>
                            <td>{{municipio.NumSolicitudes}}</td>
                            <td>{{municipio.Folio}}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>{{ total }}</th>
                            <th>{{ ultimaAplicacion }}</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            var app = angular.module('SedeshuApp', ['ui.bootstrap']);
            var baseUrl = document.baseURI;

            app.controller('indexController',
                function ($scope, $http) {

                    $scope.selected = [];
                    $scope.maxsize = 5;
                    $scope.totalcount = 0;
                    $scope.granTotal = 0;
                    $scope.pageIndex = 1;
                    $scope.pageSize = 10;
                    $scope.numPages = 0;
                    $scope.total = 0;
                    $scope.ultimaAplicacion = '';
                    $scope.beneficiarios = [];
                    $scope.Inicio = '';
                    $scope.Fin = '';
                    $scope.Estatus = ''; // Variable para el filtro de Estatus
                    $scope.loading = false;
                    $scope.filtros = {};
                    $scope.catalogos = {};
                    $scope.valores = {};

                    $scope.init = function (model) {
                        $scope.Inicio = new Date(model.Inicio.substring(0, 4), parseInt(model.Inicio.substring(5, 7)) - 1, model.Inicio.substring(8, 10));
                        $scope.Fin = new Date(model.Fin.substring(0, 4), parseInt(model.Fin.substring(5, 7)) - 1, model.Fin.substring(8, 10));
                        $scope.cargarBeneficiarios();
                        $scope.cargarFiltros();
                    };

                    $scope.corregirFiltro = function (filtro, cortar) {
                        var nueva =  filtro == 'ApellidoPaterno' ? 'PrimerApellido' : (filtro == 'ApellidoMaterno' ? 'SegundoApellido' : filtro.charAt(0).toUpperCase() + filtro.slice(1));
                        if (cortar){
                            nueva = nueva.length > 40 ? nueva.substring(0,40) +"..." : nueva;
                        }
                        return nueva;
                    };

                    $scope.cargarFiltros = function () {
                        axios.get(baseUrl + 'Beneficiarios/BuildFiltros').then(function (response) {
                            $scope.filtros = response.data.Filtros;
                            _.each(response.data.Filtros, function (categoria) {
                                _.each(categoria, function (filtro) {
                                    $scope.catalogos[filtro.Key.replace(/ /g, "")] = { Items: [], Mostrar: false, Multiple: filtro.Value , Nombre:filtro.Key};
                                    $scope.valores[filtro.Key.replace(/ /g, "")] = null;
                                })
                            });

                            setTimeout(function () {
                                $scope.$apply(function () {
                                    $scope.refreshSelect();
                                });

                            })
                        });
                    };

                    $scope.cargarCatalogo = function (catalogo) {
                        let municipioId = ($scope.valores.Municipio == null || $scope.valores.Municipio == '') ? '0' : $scope.valores.Municipio;
                        let cat = $scope.catalogos[catalogo.replace(/ /g, "")];
                        if (cat.Multiple) {
                            if (cat.Items.length == 0 || catalogo == 'Localidad' || catalogo == 'Ageb') {
                                axios.get(baseUrl + 'Solicitudes/BuildCatalogos/' + catalogo.split(".-")[0] + '/' + municipioId).then(function (response) {
                                    setTimeout(function () {
                                        $scope.$apply(function () {
                                            cat.Items = response.data;
                                            $scope.refreshSelect();
                                        });
                                    })
                                });
                            } else {
                                setTimeout(function () {
                                    $scope.$apply(function () {
                                        $scope.refreshSelect();
                                    });
                                });
                            }
                        }
                        cat.Mostrar = true;
                    }

                    $scope.seleccionarFiltro = function () {
                        _.each($scope.filtros, function (filtro, index) {
                            _.each(filtro, function (f) {
                                if (_.find($scope.selected, function (selected) {
                                    return selected == f.Key;
                                }) == null) {
                                    $scope.catalogos[f.Key.replace(/ /g, "")].Mostrar = false;
                                    $scope.valores[f.Key.replace(/ /g, "")] = "";
                                }
                            });
                        })
                        _.each($scope.selected, function (selected) {
                            $scope.cargarCatalogo(selected);
                        })
                    }

                    $scope.seleccionarValor = function (catalogo) {
                        if (catalogo == 'Municipio') {
                            if ($scope.catalogos.Localidad.Mostrar) {
                                $scope.cargarCatalogo('Localidad');
                            }
                            if ($scope.catalogos.Ageb.Mostrar) {
                                $scope.cargarCatalogo('Ageb');
                            }
                        }
                    };

                    $scope.cargarBeneficiarios = function () {
                        $scope.loading = true;
                        $http.post(baseUrl + 'Diagnosticos/ObtenerDiagnosticos', {
                            PageIndex: $scope.pageIndex,
                            PageSize: $scope.pageSize,
                            Inicio: $scope.Inicio,
                            Fin: $scope.Fin,
                            Estatus: $scope.Estatus, // Se envía el filtro de Estatus
                            Valores: JSON.stringify($scope.valores)
                        }).then(function (response) {
                            $scope.total = 0;
                            $scope.ultimaAplicacion = "";
                            $scope.beneficiarios = response.data;
                             _.each($scope.beneficiarios, function(item) {
                                 if ($scope.ultimaAplicacion == "" || moment(item.Folio) > moment($scope.ultimaAplicacion)){
                                    $scope.ultimaAplicacion = item.Folio;
                                 }
                                $scope.total += (item.NumSolicitudes);
                            });
                            $scope.loading = false;
                        });
                    };

                    $scope.pagechanged = function () {
                        $scope.cargarBeneficiarios();
                    };

                    $scope.refreshSelect = _.debounce(function () {
                        $('.selectpicker2').selectpicker('refresh');
                    }, 100);

                    $scope.exportar = function(tipo) {
                      document.getElementById("PageIndex").value = 0;
                      document.getElementById("PageSize").value = 0;
                      document.getElementById("Valores").value = JSON.stringify($scope.valores);
                      document.getElementById("Inicio").value = $scope.Inicio.toISOString().substring(0, 10);
                      document.getElementById("Fin").value = $scope.Fin.toISOString().substring(0, 10);
                      document.getElementById("Estatus").value = $scope.Estatus; // Se incluye en la exportación
                      document.getElementById("Tipo").value = tipo;
                      document.getElementById("form").submit();
                    };
                }
            );
        })();
    </script>
}

@section Styles
{
    <style>
        .col-4, .col-12 {
            margin-bottom: 10px;
        }

        .bootstrap-select .dropdown-menu {
            max-width: 250px !important;
        }
    </style>
}