@using DiagnosticoWeb.Code;
@using System.Security.Claims;
<div ng-app="SedeshuApp" ng-controller="createEditController" ng-init="init(@JsonSedeshu.SerializeObject(Model))">
    <partial name="_Loading_Partial" />
    <div class="row justify-content-center" ng-cloak>
        <div class="col-sm-10">
            <div class="card border-cards">
                <div class="card-header bg-cards text-white">
                    @if (!string.IsNullOrEmpty(Model.Id))
                    {
                        <h5 class="float-left">Editar municipio</h5>
                    }
                    else
                    {
                        <h5 class="float-left">Crear municipio</h5>
                    }
                    <a class="btn btn-sm btn-header float-right" asp-controller="Municipios" asp-action="Index">
                        <i class="fa fa-backward"></i> Regresar
                    </a>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        <div class="col-sm-3">
                            <label class="required">Id <small ng-bind="municipio.Id.length + ' / 10'"></small></label>
                            <input class="form-control" ng-model="municipio.Id" maxlength="10" ng-disabled="municipio.IdAnterior != ''"/>
                            <strong class="small text-danger" ng-bind="errors['Id']"></strong>
                        </div>
                        <div class="col-sm-3">
                            <label class="required">Clave <small ng-bind="municipio.Clave.length + ' / 10'"></small></label>
                            <input class="form-control" ng-model="municipio.Clave" maxlength="10" />
                            <strong class="small text-danger" ng-bind="errors['Clave']"></strong>
                        </div>
                        <div class="col-sm-5">
                            <label class="required">Estado</label>
                            <select class="form-control" ng-model="municipio.EstadoId" disabled>
                                <option ng-repeat="estado in Estados" ng-value="estado.Id">{{estado.Nombre}}</option>
                            </select>
                            <span class="text-danger small">{{ errors["EstadoId"] }}</span>
                        </div>
                        <div class="col-sm-6">
                            <label class="required">Nombre del municipio <small ng-bind="municipio.Nombre.length + ' / 255'"></small></label>
                            <input class="form-control" ng-model="municipio.Nombre" maxlength="255" />
                            <strong class="small text-danger" ng-bind="errors['Nombre']"></strong>
                        </div>                        
                    </div>
                </div>
                @if (((ClaimsIdentity)User.Identity).HasClaim("Permiso", "catalogos.editar") || (string.IsNullOrEmpty(Model.Id) &&
                        ((ClaimsIdentity)User.Identity).HasClaim("Permiso", "catalogos.crear")))
                {
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" ng-click="Guardar()" ng-if="!guardando">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                        <button class="btn btn-sm btn-success" ng-if="guardando" disabled>
                            <i class="fa fa-spinner fa-spin"></i> Guardar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        (function () {
            var app = angular.module('SedeshuApp', ['ui.bootstrap']);
            var baseUrl = document.baseURI;

            app.controller('createEditController',
                function ($scope, $http) {
                    $scope.Estados = [];                   
                    $scope.municipio = {};
                    $scope.errors = [];
                    $scope.guardando = false;

                    $scope.init = function (municipio) {
                        $scope.municipio = municipio;
                        $scope.getEstados();
                    };

                    $scope.getEstados = function () {
                        $http.get(baseUrl + 'Estado/Get').then(function (response) {
                            $scope.Estados = response.data;                            
                        });
                    };

                    $scope.Guardar = function () {
                        $scope.guardando = true;
                        $http.post(baseUrl + 'Municipios/Guardar', $scope.municipio).then(function (response) {
                            if (response.data === "ok") {
                                window.location.href = baseUrl + "Municipios";
                            } else {
                                $scope.cargarErrores(response.data);
                            }
                            $scope.guardando = false;
                        });
                    };

                    $scope.cargarErrores = function (errors) {
                        $scope.errors = [];
                        for (var i = 0; i < errors.length; i++) {
                            $scope.errors[errors[i].Key] = errors[i].Error;
                        }
                    };

                    $scope.refreshSelect = _.debounce(function () {
                        $('.selectpicker2').selectpicker('refresh');
                    }, 200);

                }
            );
        })();
    </script>
}